@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
* {

    margin: 0;
    padding: 0;

}
/*
body{

    Acá debe ir la imagen de fondo
    

}
*/
ul{

    /*Eliminar las viñetas a las listas*/
    list-style: none;

}

.container{
    
    /*Espacio entre el borde y donde comienza contenido*/
    padding: 5vh;

}

.miniCont1{

    background-color: #F2541B;
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    height: 50vh;
    /*Quiero que el contenido este en los extremos*/

}

.subMiniCont1{
    display: grid;
    grid-template-rows: 2fr 5fr;
}

.contentSecondSec li{

    display: flex;
    align-items: center;

}

.logoList{

    display: flex;
    align-items: center;

}

.middleTitle{
    text-align: center;
    bottom: 0%;
}

.contImg{

    padding: 1vh;

}

.textList p{

    padding: 0.3vh;

}

/*Segunda parte bloque 1*/

/*Bloque 2*/
.miniCont2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
}


.miniCont2{

    background-color: rgba(255, 99, 71, 0.5);

}

.miniCont3{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    padding: 1vh;
    background-color: #501D73;

}

.logosCont1 ul, .logosCont2 ul{
    display: flex;
    justify-content: center;
}
.logosCont1 li, .logosCont2 li{
    padding: 5px;
}
.logosCont3 ul{
    display: flex;
}
.sixCont{
    color: white;
}
.fourTitle p{
    font-family: 'Epilogue', sans-serif;
    color: #F2541B;
}
@media (max-width: 1000px){
    body{
        width: 1000px;
    }
}